<ul>
<% for (let book of books) { %>
  <li class="col">
    <figure class="col-cover">
    <% if (book.cover) { %>
      <img src="<%- book.cover %>" alt="<%- book.title %>">
    <% } else { %>
      <img src="/images/noimage.png" alt="<%- book.title %>">
    <% } %>
    </figure>
    <div class="text-left">
      <p class="col-title"><%- book.title %></p>
      <p class="col-class">NDC：<%- book.ndl %>／<%- book.category %></p>
      <p class="col-author"><%- book.author %><% if (book.author_kana) { %><span class="col-author__kana">／<%- book.author_kana %></span><% } %></p>
      <p class="col-publisher">出版社：<%- book.publisher %></p>
      <p class="col-pubdate">発売日：<%- book.pub_date %></p>
      <% if (book.price) { %>
        <p class="col-pubdate">価格：<%- book.price %></p>
      <% } %>
    </div>
  </li>
<% } %>
</ul>